<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ton per hour calculator</title>
    <link rel="stylesheet" href="/static/base.css">
    <script src="/static/base.js" defer></script>
~
</head>
<body>
    <div class="banner">
        <h1 align="center">TON PER HOUR CALCULATOR</h1>
    </div>
    <div class="input">
        <form>
            <input type="number" class="1" placeholder="Amount">
            <input type="number" class="1" placeholder="Size">
            <input type="number" class="1" placeholder="Duration in Months">
            <input type="number" class="1" placeholder="Shift in Hour">
            <input type="number" class="1" placeholder="Number of Working Days">
            <input type="button" class="3" placeholder="Submit">
        </form>
    </div>
    <div class="output">
        <form>
            <input type="number" class="2" placeholder="TON PER HOUR CALCULATOR">
        </form>
    </div>
</body>
</html>